<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="GUI">
    <title>ROVER Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="static/include/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/index.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script src="static/include/bootstrap.min.js"></script>
    <script src="static/include/socket.io.js"></script>
    <script type="module" src="static/index.js"></script>
    <script type="module" src="/static/modules/pages/cameras/listeners.js"></script>
  </body>
</html>
